@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex flex-column gap-3 align-items-center justify-content-center">
<div class="text-center">
    <h1 class="display-4">Sistema de Cadastro Para Clientes</h1>
    <a asp-action="Index" class="btn btn-outline-primary p-2 g-col-3 w-25"> Iniciar Cadastro </a>
</div>
    <img src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="imagem de pessoas sentadas a mesa"></img>
</div>